/** 
 * A very basic CSS reset:
 * More about CSS resets: https://meyerweb.com/eric/tools/css/reset/
 */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/** 
 * Card sizing and positioning.
 * Don't mess with this!
 */
.card {
  width: 300px;
  height: 540px;
  margin: 40px auto 0 auto;
}

/** 
 * Just some styling to make the card visible.
 * Feel free to change this!
 */

.card {
  color: #fff;
  border: rgb(0, 0, 0) 3px;

}

.content {
  
  position: relative;
  width: 100%;
  height: 90%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: end;
}

#defender {
  position: relative;
  height: 30%;
  margin-bottom: 3rem;
}

.content.night:before {
  content: '';
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: url(images/bg.jpg);
  z-index: 10000;
  mix-blend-mode: color;
}

.content.day {
  background: url(images/sky.jpeg);
}



.content img {
  position: absolute;
  top: 0;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}

.card button {
  background-color: hsl(197, 33%, 83%);
  height: 10%;
  width: 100%;
  display: block;
  border: 0px;
}

.card button:hover {
  background-color: hsl(198, 16%, 72%);
}